* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arsenal SC', sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.underline {
  width: 80px;
  padding: 2px 20px;
  background-color: #c59d5f;
  margin: 0 auto;
  border-radius: 6px;
}

.navbar-section {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 1.5em;
}

.navbar-section button {
  padding: 5px 10px;
  border: 2px solid #c59d5f;

  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #c59d5f;
  cursor: pointer;
}

.navbar-section button:hover {
  background-color: #c59d5f;
  color: #fff;
  transition: 0.3s all;
}

.products {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.card {
  display: flex;
  gap: 1em;
  max-width: 600px;
}

.images {
  border: 4px solid #c59d5f;
  max-width: 250px;
  border-radius: 8px;
  overflow: hidden;
}
hr {
  margin: 1em 0;
}

.images img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.title {
  display: flex;
  justify-content: space-between;
}
